/NewsPaperDelivery/build/
/NewsPaperDeliverySystem/nbproject/private/
/NewsPaperDeliverySystem/build/
/UDP/nbproject/private/
/UDP/build/
/Wesley_Kang_GUI_Assessment/nbproject/private/
/Wesley_Kang_GUI_Assessment/build/
/Serialization/nbproject/private/
